body{
    margin: 20px 20px;
    font-family: Helvetica
}
header{
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 30px 50px;
}   
.cabecalho1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho1 .logo{
    padding-left: 10px;
}
.cabecalho1 .logo img{
    width: 50px;
    height: 35px;
}
.lista_cabecalho1{
    padding-top: 2px;
    font-size: 18px;
    display: flex; 
    justify-content: space-between;
    gap: 25px;
}
.lista_cabecalho1 a{/* Estiliza a tag a dentro da class cabecalho1*/
    text-decoration: none; /* Opção para remover o sublinhado deixado pelo href*/
    background-color: #fff;
    color: #000;
}
/* Continuar editando a parte do cabeçalho do site para
poder ficar o mais próximo do site original.*/
/*
Editei a parte do cabeçalho editando as class e centralizando tudo
falta ajustar a logo para ficar alinhada e ajustada.
*/
.lista_cabecalho1 a:hover{
    color:#EA1D2C;
}
.config_cliente{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.config_cliente .lupa{
    padding-right: 300px;
}
.config_cliente .lupa img{
    width: 25px;
    height: 25px;
}
.cabecalho2{
    display: flex;
    justify-content: space-between;
}
.lista_cabecalho2{
    display: flex; 
    justify-content: space-between;
    gap: 25px;
    background-color: #EA1D2C;
    margin-left: 60px;
    margin-top: 25px;
}
.cabecalho2 .lista_cabecalho2 button{
    margin-left: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 15px;
    padding: 8px;
    display: inline-flex;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(192, 189, 189);
}
.lista_cabecalho2 button:hover{
    color:#EA1D2C
}
.serviços{
    margin-top: 180px;
}
.serviços ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.serviços ul li{
    text-align: center;
    cursor: pointer;
}
.serviços ul li p{
    font-size: 15px;
}
.serviços ul li img{
    width: 90px;
    height: 70px;
}
.serviços ul li img:hover{
    scale:100%;
}
.banners{
    margin-top: 25px;
}
.banners ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banners ul li{
    padding-right: 10px;
}
.banners ul li img{
    height: 500px;
    width: 1000px;
}
.ultimas_lojas h1{
    margin: 15px 0px;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.ultimas_lojas ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    width: 700px;
}
.ultimas_lojas ul li{
    align-items: center;
}
.ultimas_lojas ul li img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
