body{
    margin: 20px 20px;
    font-family: Helvetica
}
header{
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 30px 50px;
}   
.cabecalho1{
    display: flex;
    justify-content: space-between;
}
.cabecalho1 .logo img{
    width: 50px;
    height: 35px;
}
.lista_cabecalho1{
    display: flex; 
    justify-content: space-between;
    gap: 25px;
    font-weight: 500;
}
.lista_cabecalho1 a{/* Estiliza a tag a dentro da class cabecalho1*/
    text-decoration: none; /* Opção para remover o sublinhado deixado pelo href*/
    background-color: #fff;
    color: black;
}
.lista_cabecalho1 a:hover{
    color:#EA1D2C
}
.lupa{
    display: flex; 
    justify-content: space-between;
}
.lupa img{
    width: 40px;
    height: 40px
}
.config_cliente{
    display: flex; 
    justify-content: space-between;
}
.config_cliente .avatar img{
    width: 40px;
    height: 40px
}
.config_cliente .bag img{
    width: 40px;
    height: 40px
}
.cabecalho2{
    display: flex;
    justify-content: space-between;
}
.lista_cabecalho2{
    display: flex; 
    justify-content: space-between;
    gap: 25px;
}
.lista_cabecalho2 a{
    text-decoration: none; /* Opção para remover o sublinhado deixado pelo href*/
    background-color: #fff;
    color: black;
}
.lista_cabecalho2 a:hover{
    color:#EA1D2C
}